/**
 * Table Styles
 * 
 * Styling for HTML tables in the editor.
 */

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #e4e4e7;
  padding: 0.5rem 1rem;
}

.dark th,
.dark td {
  border-color: #3f3f46;
}

th {
  background-color: #f4f4f5;
}

.dark th {
  background-color: #27272a;
}
